.admin-sidebar {
  height: 100vh;
  width: 200px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  position: fixed;
}

.sidebar-logo {
  width: 100%;
  max-height: 50px;
  object-fit: contain;
}

.sidebar-options {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}

.sidebar-option {
  opacity: 0.7;
  transition: 0.1s;
  width: 100%;
}

.sidebar-option-link {
  display: block;
  width: 100%;
}

.sidebar-option:hover {
  cursor: pointer;
  padding-left: 0.5rem;
  opacity: 1;
}

.sidebar-option--active {
  margin-left: 0.5rem;
  opacity: 1;
}
