.header {
  width: 100%;
  min-height: 50px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.header-logo {
  min-width: 100px;
  max-width: 200px;
  width: 10%;
  height: 100%;
}

.header-items {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.header-item {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.1s;
}

.header-item:hover {
  transform: translateY(-2px);
}

.header-item--active {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .header {
    padding: 1rem 0.5rem;
  }

  .header-logo {
    width: 20%;
  }

  .header-items {
    gap: 0.5rem;
  }

  .header-item {
    font-size: 0.8rem;
  }
}
