.admin-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  color: var(--black);
}

.admin-screen-title {
  align-self: flex-start;
  justify-self: flex-start;
}
